//Author: Channing
//Created: 6/20
// Description: Styling the navigation
//Edit: Mike 6/21 Clean structure, add hover effect, add positions
//Edit: Ariel 6/23 add responsiveness
.navbar {
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ae190e;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 3px 3px #84110a;
}


.navbar nav {
    list-style-type: none;
    margin: 0 auto;
    width: 70%;
}

#sitenav > a, #sitenav > div {
    display: block;
    float: left;
    height: 45px;
    width: 20%;
    line-height: 45px;
    text-align: center;
    color: white;
}

#sitenav  a:hover, #sitenav  a.active, #sitenav .dropdown-content a:hover ,#sitenav .dropdown-content a.active{
    cursor: pointer;
    background-color: #6d0f09;
    text-shadow: 2px 0 #6d0f09;
    font-weight:bold;
}

#sitenav  a, #sitenav > div {
    color: white;
    text-align: center;
    text-decoration: none;
}

.dropdown-content{
    display: none;
    background-color: #ae190e;
    position: relative;
    bottom: 45px
}

#sitenav .dropdown:hover .dropdown-content{
    display: block;
}

#sitenav .dropdown-content a{
    display: block;
    font-weight: normal;
}

@media screen and (max-width: 840px) {
  .navbar nav{
    width: 100%;
    padding: 0px;
  }
}
